*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SimonSay{
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(17, 17, 17);
    color: white;
}

.header {
    width: 100%;
    display: flex;
}

.left, .right {
    width: 20%;
    margin: 1rem;

}

.middle {
    width: 60%;
    margin-top: 1rem;
}

.left, .middle, .right {
    height: 10rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.currScoreTitle, .highScoreTitle {
    margin-top: 1rem;
}

.currScore, .highScore{
    color: #00FF48;
}

.name {
    margin-top: 1rem;
}

.level {
    margin-top: 1rem;
    color: red;
}

.SimonSay .container{
    display: grid;
    grid-template-columns: repeat(2, 9rem);
    grid-template-rows: repeat(2, 9rem);
    gap: 1rem;
    flex-wrap: wrap;
    cursor: pointer;
}

.SimonSay .scores{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    border-radius: 2rem;
}

.box1{
    background-color: #B04646;
    border: 8px solid #7E2B2B;
}

.box2{
    background-color: #6946B0;
    border: 8px solid #4C2B7E;
}

.box3{
    background-color: #4669B0;
    border: 8px solid #2B427E;
}

.box4{
    background-color: #B0AE46;
    border: 8px solid #7E702B;
}

.SimonSay .flash{
    transition-duration: 0.2s;
    transition-timing-function: linear;
    animation-name: flash;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
}


@keyframes flash {
    0%{transform: scale(1.1); background-color: white;}
    50%{background-color: white;}
    100%{}
}

.SimonSay .gameOver{
    animation-name: over;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes over{
    0%{}
    50%{background-color: red;}
    100%{}
}
