.DiceContainer{
    height: 10rem;
    width: 10rem;
    background-color: rgba(96, 96, 96, 0.118);   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 10px;
}

.DiceContainer .dice{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.819);
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    padding: 2rem;
    border: none;
}

.disable{
    color: transparent !important; 
    background-color: rgba(255, 255, 255, 0.334) !important;
}