.GameContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 16, 16);
    scroll-snap-align: start;
}

.gameContainer{
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.375));   
}

.game{
    height: 70%;
    width: 70%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 3rem;
}

.gameDtl{
    flex: 1;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: white;
    & p{
        margin-top: 1rem;
        line-height: 150%;
    }
}

.image{
    flex: 1;
    height: 90%;
    width: 100%;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    height: 100%;
    width: 100%;
    background-size: contain;
    transform: rotate(90deg);
}

.btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btnPrev, .btnPlay, .btnNext{
    margin: 2rem 2rem !important;
    color: white !important;
}

.btnPrev, .btnNext{
    background-color: rgb(209, 29, 29) !important;
}

.btnPlay{
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
