.gameContainer {
    width: 30rem;
    height: 50vh; 
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    padding: 2rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.gameContainer:nth-child(1) {
    background: linear-gradient(135deg, #4e4376, #2b5876);
}

.gameContainer:nth-child(2) {
    background: linear-gradient(135deg, #355c7d, #6c5b7b);
}

.gameContainer:nth-child(3) {
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
}

.gameContainer:nth-child(4) {
    background: linear-gradient(135deg, #1d4350, #a43931);
}

.gameContainer:nth-child(5) {
    background: linear-gradient(135deg, #232526, #414345);
}

.game {
    height: 70%;
    width: 70%;
    padding: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 3rem;
}

.imageH {
    height: 220px;
    display: flex;
    justify-content: center;
    overflow: hidden; 
    border-radius: 8px; 
}

.imageH img {
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 0px;
    background-size: contain;
    transform: rotate(90deg);
}

.gameDtl {
    flex: 1;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.gameDtl h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}


.btns {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnPlay {
    background-color: rgb(255, 255, 255) !important;
    color: black !important;
}
